<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="HOME_LOG" value="App.log"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                <!-- %d{yyyy/MM/dd} %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n -->
                %d{dd/MM/yyyy} %d{HH:mm:ss.SSS} [%t] %5level - %msg%n

            </Pattern>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${HOME_LOG}</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %d{yyyy/MM/dd} %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </pattern>
        </layout>
    </appender>

    <logger name="Iteration_2" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>

    </logger>

    <root level="error">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>